html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
